.login-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header, footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}

header span:first-child {
  position: absolute;
  left: 0;
  top: 0;
}
header span:last-child {
  font-size: 18px;
}

section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 300px;
}

form button {
  width: 100%;
}
