<div class="login-wrapper">
  <header>
    <span>corporation logo</span>
    <span>This is corporation name</span>
  </header>
  <section>
    <form nz-form [formGroup]="loginForm" (ngSubmit)="submit()">
      <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
      <nz-form-item>
        <nz-form-control  nzHasFeedback>
          <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-user">
            <input nz-input formControlName="username" placeholder="admin" >
          </nz-input-group>
          <nz-form-explain *ngIf="loginForm.controls.username.dirty&&loginForm.controls.username.hasError('required')">请输入用户名!</nz-form-explain>
          <nz-form-explain *ngIf="loginForm.controls.username.dirty
                    &&(loginForm.controls.username.hasError('minLength')||loginForm.controls.username.hasError('maxLength')||loginForm.controls.username.hasError('pattern'))">
            用户名长度在3~6位,只能包含字母,数字!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control  nzHasFeedback>
          <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-lock">
              <input nz-input type="password" formControlName="password" placeholder="111">
          </nz-input-group>
          <nz-form-explain *ngIf="loginForm.controls.password.dirty&&loginForm.controls.password.hasError('required')">请输入密码!</nz-form-explain>
          <nz-form-explain *ngIf="loginForm.controls.password.dirty
                    &&(loginForm.controls.password.hasError('minLength')||loginForm.controls.password.hasError('maxLength')||loginForm.controls.password.hasError('pattern'))">
            密码长度在1~8位,并且不能包含空格!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" class="ant-btn__block">登录</button>          
      </nz-form-item>
    </form>
  </section>
  <footer>
    Footer
  </footer>
</div>