.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: var(--header-hg);
  width: var(--aside-wd);
  background-color: var(--aside-bg);
  transition: width .2s ease-in, translate .2s ease-out;
  z-index: calc(var(--zindex) + 5);
  backface-visibility: hidden;
}

.aside::after{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid var(--content-heading-border);
}

.aside-inner {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.aside-collapsed .aside{
  width: var(--aside-collapsed-wd);
}