<div class="aside-inner">
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="setting.layout.collapsed">
    <li nz-submenu>
      <span title>
        <i class="anticon anticon-calendar"></i>
        <span class="nav-text" *ngIf="!setting.layout.collapsed" >Dashboard</span>
      </span>
      <ul>
        <li nz-menu-item><a routerLink="/dashboard/v1">v1</a></li>
        <li nz-menu-item><a routerLink="/dashboard/analysis">Analysis</a></li>
        <li nz-menu-item><a routerLink="/dashboard/monitor">monitor</a></li>
        <li nz-menu-item><a routerLink="/dashboard/workplace">Workplace</a></li>
      </ul>
    </li>
    <li nz-submenu>
      <span title>
        <i class="anticon anticon-user"></i>
        <span class="nav-text" *ngIf="!setting.layout.collapsed"  >User</span>
      </span>
      <ul>
        <li nz-menu-item>Tom</li>
        <li nz-menu-item>Bill</li>
        <li nz-menu-item>Alex</li>
      </ul>
    </li>
    <li nz-submenu>
      <span title>
        <i class="anticon anticon-team"></i>
        <span class="nav-text" *ngIf="!setting.layout.collapsed"  >Team</span>
      </span>
      <ul>
        <li nz-menu-item>Team 1</li>
        <li nz-menu-item>Team 2</li>
      </ul>
    </li>
    <li nz-menu-item>
      <span><i class="anticon anticon-file"></i>
        <span class="nav-text" *ngIf="!setting.layout.collapsed"  >File</span>
      </span>
    </li>
  </ul>
</div>
