/* You can add global styles to this file, and also import other style files */

:root {
  --screen-md-min: 1440px;
  --text-color: #000000;
  --body-bgColor: #F8F5F5;
  --header-hg: 60px;
	--header-bg: #000000;
  --header-padding: 10px;
  --header-font-color: #ffffff;
  --content-padding: 5px;
  --content-heading-border: #efe3e5;
  --aside-wd: 200px;
  --aside-collapsed-wd: 64px;
  --zindex: 1;
}

html {
  direction: ltr;
  height: 100%; 
  touch-action: manipulation;
}
html, body, app-root {
  overflow-x: hidden;
  height: 100%;
}
body {
  color: var(--text-color);
  background-color: var(--body-bgColor) !important;
}

.wrapper{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.content{
  margin: var(--header-hg) var(--content-padding) var(--content-padding) calc(var(--aside-wd) + var(--content-padding));
}

.header .logo img.collapsed{
	display: none;
}
.header .logo img.expanded {
	display: inline;
}

/* aside */
.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: var(--header-hg);
  width: var(--aside-wd);
  background-color: var(--aside-bg);
  border: 1px solid #e8e8e8; 
  transition: width .2s ease-in, translate .2s ease-out;
  z-index: calc(var(--zindex) + 5);
  backface-visibility: hidden;
}

.aside::after{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid var(--content-heading-border);
}

.aside-inner {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

/* Desktop */
@media(max-width: 1200px) {
  
}

/* Collapsed */
.aside-collapsed .sidebar {
  width: var(--aside-collapsed-wd);
}
.aside-collapsed .content {
  margin-left: calc(var(--aside-collapsed-wd) + var(--content-padding));
}

.aside-collapsed .header .logo{
	width: var(--aside-collapsed-wd);
}

.aside-collapsed .header .logo img.collapsed {
	display: inline;
}

.aside-collapsed .header .logo img.expanded {
	display: none;
}

.aside-collapsed .aside{
  width: var(--aside-collapsed-wd);
}