
.logo{
	margin-left: var(--header-padding);
	width: var(--aside-wd);
	transition: width .2s ease;
}
.logo a{
	display: block;
	text-align: center;
}

.logo img{
	vertical-align: middle;
	max-width: 100%;
	animation: fadeIn 1s;
}



.top-nav-wrap{
	flex: 1;
	display: flex;
	justify-content: space-between;
}

.top-nav{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.top-nav li {
	display: inline-block;
	vertical-align: middle;
}

.top-nav li h1{
	color: #ffffff;
}

.top-nav .item {
	display: block;
	border-radius: 2px;
	text-align: center;
	line-height: 100%;
	padding: 5px 2px;
	min-width: 50px;
	transition: background-color 300ms;
	cursor: pointer;
	outline: none;
}

.top-nav .item:hover{
	background-color: rgba(255,255,255, 0.2) !important;
}




